<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update user</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="update-user-container">
        <form action="/update-user" method="POST">
            <input type="text" value="<%=dataUser.user_id%>" hidden name="user_id"/>
            <div>
                <label>name:</label>
                <input name="name" value="<%=dataUser.name%>"/>
               
            </div>
            <div>
                <label>email:</label>
                <input name="email" value="<%=dataUser.email%>"/>
            </div>
            <div>
                <label>phone:</label>
                <input name="phone" value="<%=dataUser.phone%>"/>
            </div>
            <div>
                <label>age:</label>
                <input name="age" value="<%=dataUser.age%>"/>
            </div>
            
            <div>
                <button class="btn-save" type="submit">Save</button>
            </div>
        </form>
    </div>
    
    
</body>
</html>